<!DOCTYPE html>
<html style="overflow: hidden;" lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商品兑换</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/icons-extra.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/style.css}"/>
    <!--标准mui.css-->
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/mui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/layer.css}"/>
    <style>
        .u-flyer {
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: fixed;
            z-index: 9999;
        }

        .mui-row.mui-fullscreen > [class*="mui-col-"] {
            height: 100%;
        }

        .mui-col-xs-3,
        .mui-control-content {
            overflow-y: auto;
            height: 100%;
        }

        .mui-segmented-control .mui-control-item {
            line-height: 50px;
            width: 100%;
        }

        .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
            background-color: #DD524D;
            color: white;
            border-color: #DD524D;
        }

        /*上拉加载样式*/

        .mui-pull-bottom-tips {
            text-align: center;
            background-color: #efeff4;
            font-size: 15px;
            line-height: 40px;
            color: #777;
        }

        .mui-numbox .mui-numbox-input, .mui-numbox .mui-input-numbox {
            border: none !important;
            text-align: center;
            padding-bottom: 8px !important;
        }
    </style>
</head>

<body>

<header class="mui-bar mui-bar-nav">
    <a href="choiceMenus" class=" mui-icon  mui-pull-left title-left">
        <img th:src="@{/home/img/AAA.png}" width="120px" height="32px" style="margin-top: 6px;">
    </a>
    <h1 class="mui-title">商品兑换</h1>
    <a href="personCenter" class="mui-icon  mui-pull-right title-right" id="btn1">
        <img th:src="@{/home/img/个人中心.png}" width="60px" height="32px" style="margin-top: 6px;">
    </a>
</header>

<div class="mui-content mui-row mui-fullscreen" style="padding: 0px 5px 120px 5px;">
    <div class="mui-col-xs-3 menus-tab">
        <div class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
            <a class="mui-control-item mui-active dianji" href="#content1">
                生活用品
                <!--<span class="mui-badge mui-badge-warning">3</span>-->
            </a>
            <a class="mui-control-item dianji" href="#content2">饮料饮品</a>
            <a class="mui-control-item dianji" href="#content3">零食大全</a>
            <a class="mui-control-item dianji" href="#content4">学习工具</a>

        </div>
    </div>

    <div class="mui-col-xs-9 choice-menus">
        <div id="content1" class="mui-control-content  mui-active ">

            <ul class="mui-scroll aaa" id="shyp">
                <!--<li class="mui-table-view-cell">-->
                <!--<img th:src="@{/home/img/kkkkk.jpeg}" onclick="showpop()">-->
                <!--<p>-->
                <!--<span class="menus-name">垃圾篓</span>-->
                <!--<span class="menus-sales">已兑29</span>-->
                <!--</p>-->
                <!--<p class="menus-describe">精品绿色垃圾篓，要想生活过得去~~~~~~</p>-->
                <!--<p class="menus-price">-->
                <!--<span>13</span>/个-->
                <!--<b>积分</b>-->
                <!--</p>-->
                <!--<div class="mui-numbox menus-numbox">-->
                <!--<button class="mui-btn mui-btn-numbox-minus" type="button"></button>-->
                <!--<input class="mui-input-numbox" type="number" readonly="readonly">-->
                <!--<button class="mui-btn mui-btn-numbox-plus" type="button"></button>-->
                <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
        <div id="content2" class="mui-control-content mui-scroll-wrapper">
            <ul class="mui-scroll aaa" id="ylyp">

            </ul>
        </div>
        <div id="content3" class="mui-control-content mui-scroll-wrapper">
            <ul class="mui-scroll  aaa" id="lsdq">

            </ul>
        </div>
        <div id="content4" class="mui-control-content mui-scroll-wrapper">
            <ul class="mui-scroll aaa" id="xxgj">

            </ul>
        </div>
    </div>
    <!--购物车-->
    <!--<div class="shoppingCart cart" id="shoppingCart">-->
    <!--<i id="end"></i>-->
    <!--<div class="w">-->
    <!--<div class="shoppingCart-res">-->
    <!--<img th:src="@{/home/img/cart.png}"/>-->
    <!--<span class="num">3</span>-->
    <!--</div>-->
    <!--<span>共3份，39积分</span>-->
    <!--<a href="order-takeout.html" class="shoppingCart-sureBtn">-->
    <!--去兑换-->
    <!--</a>-->
    <!--&lt;!&ndash;<a href="###" class="shoppingCart-notsureBtn">-->
    <!--未选择-->
    <!--</a>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!-- 购物车-vei -->
    <div class="cart-container js-cart-container">
        <div class="cart-view">
            <div class="w">
                <div class="cart-header">
                    <p class="cart-title">购物车</p>
                    <p class="trash-btn js-trash-btn"><span class="mui-icon mui-icon-trash"></span>清空</span>
                    </p>
                </div>
                <div class="cart-list">
                    <ul class="aaa cartList">
                        <li>
                            <span class="cart-list-name">排骨腊味饭</span>
                            <span class="cart-list-price">¥13</span>
                            <div class="mui-numbox cart-list-numbox">
                                <button class="mui-btn mui-btn-numbox-minus" type="button"></button>
                                <input class="mui-input-numbox" type="number" readonly="readonly">
                                <button class="mui-btn mui-btn-numbox-plus" type="button"></button>
                            </div>
                        </li>
                        <li>
                            <span class="cart-list-name">排骨腊味饭</span>
                            <span class="cart-list-price">¥13</span>
                            <div class="mui-numbox cart-list-numbox">
                                <button class="mui-btn mui-btn-numbox-minus" type="button"></button>
                                <input class="mui-input-numbox" type="number" readonly="readonly">
                                <button class="mui-btn mui-btn-numbox-plus" type="button"></button>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!--弹出框-->
    <div id="popup" style="display: none;">
        <div class="z-popup">
            <div class="z-popup-top">
                <img id="pp_imgurl" th:src="@{/home/img/排骨.jpg}">
                <span id="pp_tt">排骨腊味饭</span>
            </div>
            <div class="z-popup-bottom">
                <strong class="z-popup-bottom-name" id="pp_tt2"></strong>
                <p class="menus-price">
                    <span>¥13</span>/份
                    <b>会员价</b>
                </p>
                <p class="menus-price">
                    <span>¥15</span>/份
                </p>
                <p>
                    <span class="f-price-z" id="noramt"></span>
                </p>

                <a href="###" id="add_btn_pop">
                    <span class="z-popup-bottom-car" style="">加入购物车</span>
                </a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/home/js/mui.min.js}"></script>
<script th:src="@{/home/js/jquery-2.0.0.min.js}" type="text/javascript" charset="utf-8"></script>
<!--小球动画代码-->
<script th:src="@{/home/js/jquery_002.js}" type="text/javascript" charset="utf-8"></script>
<!--弹出框-->
<script th:src="@{/home/js/layer.js}" type="text/javascript" charset="utf-8"></script>
<script>
    //下拉阻尼系数
    var deceleration = mui.os.ios ? 0.003 : 0.0009;
    //调整菜单位置

    mui('.mui-scroll-wrapper').scroll({
        bounce: false,
        indicators: false, //是否显示滚动条
        deceleration: deceleration
    });
    var menusheight = document.documentElement.clientHeight || document.body.clientHeight;
    var menus = document.getElementsByClassName('choice-menus');
    for (var i = 0; i < menus.length; i++) {

        menus[i].style.height = menusheight + 'px';
    }
    // 点击增加按钮
    $('.aaa').on('click', '.mui-btn-numbox-plus', function () {
        var shoppingCart = $("#shoppingCart");
        var number = $(this).siblings(".mui-input-numbox").val();
        if (number == null || number == "") {
            number = '0';
        }
        var a = parseInt(number);
        if (a == null || a == "") {
            a = 1;
        } else {
            a += 1;
        }
        $(this).siblings(".mui-btn-numbox-minus").show();
        $(this).siblings(".mui-input-numbox").show();
        $(this).siblings(".mui-input-numbox").val(a);
        $(this).siblings(".mui-input-numbox").attr("count", a);

        var productName = $(this).siblings(".mui-input-numbox").attr("productName");
        var jifen = $(this).siblings(".mui-input-numbox").attr("jifen");
        var count = $(this).siblings(".mui-input-numbox").attr("count");
        var productId = $(this).siblings(".mui-input-numbox").attr("bb");

        var pp = getCookie("aaaa");
        if (pp != null && pp != "") {
            var aa = pp.split("@");
            for (var i = 0; i < aa.length; i++) {
                var bb = aa[i];
                if (bb == null || bb == "") {
                    continue;
                }
                var cc = bb.split("*")
                if (cc.size() < 3) {
                    continue;
                }
                var productName = cc[0];
                var productName = cc[0];
                var productName = cc[0];
            }
        } else {
            setCookies("aaaa", productName + "*" + count + "*" + jifen + "@", 0)
        }

        document.cookie = "productName=" + productName + ";expires=evalue; path=pvalue; domain=dvalue; secure;”


        var html = ' <li class="product" bb="' + productId + '">\n' +
            '                            <span class="cart-list-name">' + productName + '</span>\n' +
            '                            <span class="cart-list-price">¥' + jifen + '</span>\n' +
            '                            <div class="mui-numbox cart-list-numbox">\n' +
            '                                <button class="mui-btn mui-btn-numbox-minus" type="button"></button>\n' +
            '                                <input class="mui-input-numbox" value="' + count + '" type="number" readonly="readonly">\n' +
            '                                <button class="mui-btn mui-btn-numbox-plus" type="button"></button>\n' +
            '                            </div>\n' +
            '                        </li>'

        var flag = 0;
        $(".cartList li").each(function () {
            var bb = $(this).attr("bb");
            if (bb == productId) {
                var aa = $(this).children(".mui-input-numbox").val();
                var a = parseInt(aa);
                a += count;
                $(this).children(".mui-input-numbox").val(a)
                flag = 1;
            }
        })
        if (flag == 0) {
            $(".cartList").append(html);
        }


    });


    //设置 cookie
    function setCookie(objName, objValue, objHours) {//添加cookie
        var str = objName + "=" + encodeURIComponent(objValue);
        if (objHours > 0) {//为0时不设定过期时间，浏览器关闭时cookie自动消失
            var date = new Date();
            var ms = objHours * 3600 * 1000;
            date.setTime(date.getTime() + ms);
            str += "; expires=" + date.toUTCString();
        }
        document.cookie = str;

    }

    //获取 cookie
    function getCookie(objName) {//获取指定名称的cookie的值
        //多个cookie 保存的时候是以 ;空格  分开的
        var arrStr = document.cookie.split("; ");
        for (var i = 0; i < arrStr.length; i++) {
            var temp = arrStr[i].split("=");
            if (temp[0] == objName) {
                return decodeURIComponent(temp[1]);
            } else {
                return "";
            }

        }
    }

    //为了删除指定名称的cookie，可以将其过期时间设定为一个过去的时间
    function delCookie(name) {
        var date = new Date();
        date.setTime(date.getTime() - 10000);
        document.cookie = name + "=a; expires=" + date.toUTCString();
    }


    // 点击减少按钮
    $('.aaa').on('click', '.mui-btn-numbox-minus', function () {
        var number = $(this).siblings(".mui-input-numbox").val();
        if (number == null || number == "") {
            $(this).hide();
            $(this).siblings(".mui-input-numbox").hide();
            return;
        }
        var a = parseInt(number);
        a -= 1;
        $(this).siblings(".mui-input-numbox").val(a)
        if (a <= 0) {
            $(this).hide();
            $(this).siblings(".mui-input-numbox").hide();
        }

    });
    // 清理购物车按钮
    $('.js-trash-btn').click(function () {
        $('.js-cart-container').toggle();
        $(".mui-input-numbox").val(0).hide();
        $(".mui-btn-numbox-minus").hide();
        //	    $('#shoppingCart').animate({
        //	        'bottom': '-6rem'
        //	    }, 200)
    })
</script>
<!--点击增加按钮，小球动画-->
<script>
    $('#shyp').on('click', '.mui-btn-numbox-plus', addProduct);
    $('#ylyp').on('click', '.mui-btn-numbox-plus', addProduct);
    $('#lsdq').on('click', '.mui-btn-numbox-plus', addProduct);
    $('#xxgj').on('click', '.mui-btn-numbox-plus', addProduct);

    function addProduct(event) {
        var offset = $('#end').offset(),
            flyer = $('<img class="u-flyer" src="img/1.png"/>');
        flyer.fly({
            start: {
                left: event.pageX,
                top: event.pageY,
            },
            end: {
                left: offset.left + 35,
                top: offset.top + 35,
                width: 0,
                height: 0
            }
        });
    }

    // 点击购物车,弹出面板
    $('.shoppingCart-res').click(function () {
        $('.js-cart-container').toggle();
    });
    $('.js-cart-container').click(function (event) {
        if (event.target.className == 'cart-container js-cart-container') {
            $('.js-cart-container').toggle();
        } else {
            return;
        }
    });
</script>
<!--弹出框-->
<script type="text/javascript">
    function showpop(obj) {

//		$("#pp_imgurl").attr("src",$("#ssp_img_"+obj).val()); 
//	 	
//		$("#pp_tt").html($("#spname_" + obj).html()); 
//		$("#pp_tt2").html($("#spname_" + obj).html());  
//		
//		$("#vipamt").html($("#provipamt_"+obj).html()); 
//		$("#noramt").html($("#proamt_"+obj).html()); 
//		 
//		$("#add_btn_pop").attr("onclick","proadd("+obj+",1)"); 
        layer.open({
            type: 1,
            title: false,
            area: ['90%', '400px'],
            content: $('#popup')
        });
    }
</script>
<script>
    $(function () {
        var type = '生活用品';
        xz(type)
    })

    $(".mui-control-item").click(function () {
        var text = $(this).text();
        xz(text)
    })

    function xz(type) {
        $.ajax({
            type: "post",
            url: "/person/goodList",
            async: true, // 异步请求
            cache: false, // 设置为 false 将不缓存此页面
            dataType: 'json', // 返回对象
            data: {
                type: type
            },
            success: function (data) {
                console.log(data);
                if (data != null && data.code == 0) {
                    var html = '';
                    if (data.rows.length > 0) {
                        for (var i = 0; i < data.rows.length; i++) {
                            var info = data.rows[i];
                            html += ' <li class="mui-table-view-cell">\n' +
                                '                    <img src="' + info.goodImg + '" onclick="showpop()">\n' +
                                '                    <p>\n' +
                                '                        <span class="menus-name">' + info.goodName + '</span>\n' +
                                '                        <span class="menus-sales">已兑:' + info.goodCount + '</span>\n' +
                                '                    </p>\n' +
                                '                    <p class="menus-describe">' + info.goodDetails + '</p>\n' +
                                '                    <p class="menus-price">\n' +
                                '                        <span>' + info.dhIntegral + '</span>\n' +
                                '                        <b>积分</b>\n' +
                                '                    </p>\n' +
                                '                    <div class="mui-numbox menus-numbox" >\n' +
                                '<a class="kkkk" onclick="cccc(' + info.goodId + ')" bb="' + info.goodId + '"  style="color: green">兑换</a>' +
                                //                                '                        <button   class="mui-btn mui-btn-numbox-minus" type="button"></button>\n' +
                                //                                '                        <input bb="' + info.goodId + '" productName="' + info.goodName + '" jifen="' + info.dhIntegral + '" count="0" class="mui-input-numbox" value="0" type="number" readonly="readonly">\n' +
                                //                                '                        <button class="mui-btn mui-btn-numbox-plus" type="button"></button>\n' +
                                '                    </div>\n' +
                                '                </li>'
                        }
                    } else {
                        html = ' <li class="mui-table-view-cell">\n' +
                            '                    商品制作中。。。\n' +
                            '                </li>';
                    }
                    if (type == '生活用品') {
                        $("#shyp").html('')
                        $("#shyp").append(html)
                    } else if (type == '饮料饮品') {
                        $("#ylyp").html('')
                        $("#ylyp").append(html)
                    } else if (type == '零食大全') {
                        $("#lsdq").html('')
                        $("#lsdq").append(html)
                    } else if (type == '学习工具') {
                        $("#xxgj").html('')
                        $("#xxgj").append(html)
                    }
                } else {
                    alert(data.msg)
                }
            },
            error: function (data) {
                // 请求失败函数
                console.log(data);
            }
        })
    }

    function cccc(id) {
        $.ajax({
            type: "post",
            url: "/person/change",
            async: true, // 异步请求
            cache: false, // 设置为 false 将不缓存此页面
            dataType: 'json', // 返回对象
            data: {
                productId: id
            },
            success: function (data) {
                console.log(data);
                if (data != null && data.code == 0) {
                    alert("兑换成功")
                } else {
                    alert(data.msg)
                }
            },
            error: function (data) {
                // 请求失败函数
                console.log(data);
            }
        })
    }

</script>
</body>

</html>