<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">

</style>
<head>
    <meta charset="utf-8">
    <title>充值记录</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link th:href="@{/home/css/mui.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/icons-extra.css}"/>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a href="choiceMenus" class=" mui-icon  mui-pull-left title-left">
        <img th:src="@{/home/img/AAA.png}" width="60px" height="32px" style="margin-top: 6px;">
    </a>
    <h1 class="mui-title">充值记录</h1>
    <a href="personCenter" class="mui-icon  mui-pull-right title-right" id="btn1">
        <img th:src="@{/home/img/个人中心.png}" width="60px" height="32px" style="margin-top: 6px;">
    </a>
</header>
<div class="mui-content">
    <div class="recharge-record">
        <div>
            <img th:src="@{/home/img/Edit_Yes_64px_507681_easyicon.net.png}"/>
            <h4>交易明细：</h4>
        </div>
        <ul>
            <li>
                <img th:src="@{/home/img/star.png}"/>
                <span>会员充值</span>
                <p>2021-05-01 12:48:11</p>
                <b>+50.00</b>
            </li>
            <!--<li>-->
                <!--<img src="img/food.png"/>-->
                <!--<span>微信支付</span>-->
                <!--<p>2017-08-9 12:48:11</p>-->
                <!--<b class="color-red">-50.00</b>-->
            <!--</li>-->
            <li>
                <img th:src="@{/home/img/star.png}"/>
                <span>会员充值</span>
                <p>2021-05-01 12:48:11</p>
                <b>+50.00</b>
            </li>
        </ul>

    </div>
</div>
<script th:src="@{/home/js/mui.min.js}"></script>
</body>

</html>