<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">

</style>
<head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link th:href="@{/home/css/mui.css}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/icons-extra.css}"/>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a href="choiceMenus" class=" mui-icon  mui-pull-left title-left">
        <img th:src="@{/home/img/AAA.png}" width="100px" height="32px" style="margin-top: 6px;">
    </a>
    <h1 class="mui-title">个人中心</h1>
    <a href="personCenter" class="mui-icon  mui-pull-right title-right" id="btn1">
        <img th:src="@{/home/img/个人中心.png}" width="60px" height="32px" style="margin-top: 6px;">
    </a>
    <!--<a href="personCenter" class="mui-icon  mui-pull-right title-right" id="btn2">-->
    <!--<img src="img/qiandao.jpeg" width="120px" height="32px" style="margin-top: 6px;">-->
    <!--</a>-->
</header>
<div class="mui-content">
    <div class="person-top ">
        <img th:src="@{/home/img/logo1.jpg}"/>
        <span style="color: #0C0C0C" th:text="${session.USER.loginName}">星小宇</span>
    </div>
    <div class="person-mid">
        <div class="person-mid-money">
            <span th:text="${'¥'+session.USER.integral}">¥0</span>
            <span>余额</span>
        </div>
        <div class="go-payment">
            <a href="payment">
                <button type="button" class="mui-btn mui-btn-danger">
                    去充值
                </button>
            </a>
        </div>
    </div>
    <div class="person-mid" style="border-top: dashed 1px">
        <div class="person-mid-money">
            <span id="shengyu" th:text="${'¥'+session.USER.jiChuIntegral}">30</span>
            <span>积分</span>
        </div>
        <div class="go-payment">
            <a onclick="qiandao()" href="javascript:;">
                <button type="button" class="mui-btn mui-btn-success">
                    签到
                </button>
            </a>
        </div>
    </div>
    <div class="person-list">
        <ul class="mui-table-view mui-table-view-chevron">
            <li class="mui-table-view-cell mui-media">
                <a href="personCenterMessage" class="mui-navigate-right">
                    <img class="mui-media-object mui-pull-left" th:src="@{/home/img/个人信息.png}">
                    <span>个人信息</span>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media">
                <a href="personOrder" class="mui-navigate-right">
                    <img class="mui-media-object mui-pull-left" th:src="@{/home/img/我的订单.png}">
                    <span>订单信息</span>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media">
                <a href="personCenterRecord" class="mui-navigate-right">
                    <img class="mui-media-object mui-pull-left" th:src="@{/home/img/充值记录.png}">
                    <span>充值记录</span>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media">
                <a href="liuyan" class="mui-navigate-right">
                    <img class="mui-media-object mui-pull-left" th:src="@{/home/img/加.png}">
                    <span>留言管理</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script th:src="@{/home/js/mui.min.js}"></script>
<script type="text/javascript" th:src="@{/home/js/jquery-2.1.4.min.js}"></script>
<script>
    var kkk = 0;
    $(function () {
        var aa = $("#shengyu").text();
        if (aa != null && aa != "" && kkk == 0) {
            kkk = 1;
            alert("尊敬的用户，您还有" + aa + "积分，请及时兑换商品！")
        }
    })

    function qiandao() {

        $.ajax({
            type: "post",
            url: "/person/addSignIn",
            async: true, // 异步请求
            cache: false, // 设置为 false 将不缓存此页面
            dataType: 'json', // 返回对象
            success: function (data) {
                console.log(data);
                if (data != null && data.code == 0) {
                    alert("签到成功！")
                    window.location.href = '/person/personCenter'
                } else {
                    alert(data.msg)
                }
            },
            error: function (data) {
                // 请求失败函数
                console.log(data);
            }
        })

    }


</script>
</body>

</html>